/**
 头部导航条
 */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    background-color: transparent;
}
header.navbar {
    background: #29afec;
    padding: 5px 0 5px 0;
    color: #FFF;
    box-shadow: 0px 1px 0px 0px rgba(83,69,64,0.16),0px 1px 2px 0px rgba(0,0,0,0.1);
    border-bottom-width: 0;
}
header.navbar .navbar-nav {
    margin-top: 15px;
}
header.navbar .navbar-toggle {
    margin-top: 15px;
}
header.navbar .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-header>button {
    padding: 10px 17px;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    background-color: transparent;
    border: none;
}
header.navbar .navbar-brand {
    display: inline-block;
    height: 100%;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px 5px 5px 60px;
    background: url(../pic/logo.png) no-repeat 0 4px;
    background-size: 46px 46px;
    line-height: 46px;
    text-decoration: none;
    color: #FFF;
    opacity: 1;
}
header.navbar .nav>li>a {
	color: #FFF;
	border-bottom: 2px solid transparent;
}
header.navbar .navbar-nav>li>a {
    color: #FFF;
    padding: 7px 10px 5px;
}

header.navbar .nav>li>a:hover, header.navbar .nav>li>a:focus, header.navbar .nav>li.active>a, header.navbar .nav>li.active>a:hover {
    text-decoration: none;
    color: #FFF;
    border-color: #FFF;
    background-color: transparent;
    display: block;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

/**
 图片轮询
 */
.head-pic {
	margin-top: -20px;
}
